.vscode/
Dashboard_Algoritmos.html
Modelo_projeto_final_DAD.pdf
Relatório_projeto_final_DAD.pdf
Relatório_projeto_final_DAD.zip
Resumo_SAENG_DADII_2026.pdf
Resumo_SAENG_DADII_2026.zip
Visualizador_Algoritmos.html
benchmark.exe
*.csv